@charset "UTF-8";
body {
	margin: 0px;
	background: none repeat scroll 0 0 #FBFBFB;
}


body > #body-container {
  height: auto;
  min-height: 100%;
}

.yt-grid-box:after, .yt-grid-container:after {
  clear: both;
}

.yt-grid-box:before, .yt-grid-box:after, .yt-grid-container:before, .yt-grid-container:after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

.yt-grid-box:before, .yt-grid-box:after, .yt-grid-container:before, .yt-grid-container:after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

#yt-masthead-container, #masthead-appbar, #footer-container, body #sb-wrapper {
  min-width: 700px;
  width: auto !important;
}

#yt-masthead-container {
  background: none repeat scroll 0 0 #F1F1F1;
  border-bottom: 1px solid #E8E8E8;
  padding: 7px 0 8px;
}

#yt-masthead {
    margin: 0 auto;
	margin-left: 45px; 
	margin-right: 45px;
}

.site-left-aligned #page, .site-left-aligned #yt-masthead, .site-left-aligned #ad_creative_1, .site-left-aligned #footer, .site-left-aligned #masthead_child_div, .site-left-aligned #masthead-expanded-lists-container, .site-left-aligned #masthead-appbar, .site-left-aligned #baseDiv, .site-left-aligned.no-sidebar #alerts, .site-left-aligned.no-sidebar #ticker .ytg-wide, .site-left-aligned.no-sidebar #masthead-subnav {
  margin-left: 45px !important;
}

.site-left-aligned #yt-masthead, .site-left-aligned #masthead-appbar {
  margin-right: 10px !important;
}

.site-left-aligned #page, .site-left-aligned #yt-masthead, .site-left-aligned #ad_creative_1, .site-left-aligned #footer, .site-left-aligned #masthead_child_div, .site-left-aligned #masthead-expanded-lists-container, .site-left-aligned #masthead-appbar, .site-left-aligned #baseDiv, .site-left-aligned.no-sidebar #alerts, .site-left-aligned.no-sidebar #ticker .ytg-wide, .site-left-aligned.no-sidebar #masthead-subnav {
  margin-left: 10px !important;
  transition: margin-left 0.3s ease-in-out 0s;
}

.site-left-aligned #yt-masthead, .site-left-aligned #masthead-appbar {
  margin-right: 45px !important;
}

#yt-masthead #logo-container {
  margin-left: 9px;
  margin-right: 99px;
  margin-top: 2px;
  position: relative;
}

#logo-container {
  float: left;
}


#yt-masthead #logo {
  background: url("../img/youtube_logo.png") no-repeat scroll transparent;
  height: 30px;
  width: 72px;
}

#yt-masthead-content #masthead-upload-button-group, #yt-masthead-signin, #upload-btn {
  float: right;
  margin-left: 25px;
  margin-top: 3px;
}

#yt-masthead #masthead-search-terms, #yt-masthead button.yt-uix-button {
  height: 29px;
}

.yt-uix-button-primary, a.yt-uix-button-primary .yt-uix-button-content {
  color: #FFFFFF;
}

.yt-uix-button-primary, body .yt-uix-button-primary[disabled] {
  background-color: #6891E7;
  background-image: linear-gradient(to bottom, #5384BE 0px, #3F76B7 100%);
  border-color: #3F76B7;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}


body, input, button, textarea {
  font-family: arial,sans-serif;
  font-size: 13px;
}

#masthead-search-terms input {
  -moz-box-sizing: border-box;
  background: none repeat scroll 0 0 transparent;
  border: 0 none;
  display: inline-block;
  font-size: 16px;
  margin: 0;
  outline: medium none;
  padding: 2px 6px;
  width: 100%;
}

#masthead-search-terms label {
  display: block;
}

#masthead-search label {
  border: medium none;
  height: 100%;
  line-height: 30px;
  overflow: hidden;
  padding: 0;
}

#yt-masthead #masthead-search-terms {
  border-radius: 0 0 0 0;
}

#yt-masthead #masthead-search-terms, #yt-masthead button.yt-uix-button {
  height: 29px;
  padding: 0;
}

#masthead-search-terms {
  -moz-box-sizing: border-box;
  background-color: #FFFFFF;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  font-size: 14px;
  height: 32px;
  line-height: 30px;
  margin: 0 0 2px;
  overflow: hidden;
  position: relative;
  transition: border-color 0.2s ease 0s;
}

.masthead-search-terms-border {
  border: 1px solid #CCCCCC;
  box-shadow: 0 1px 2px #EEEEEE inset;
}

#masthead-search .search-btn-component {
  filter: none;
  float: right;
  height: 32px;
  opacity: 1;
  padding: 0 0.91em;
}

.yt-uix-button {
  border-radius: 2px 2px 2px 2px;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  font-size: 11px;
  font-weight: bold;
  height: 2.55em;
  outline: 0 none;
  padding: 0 0.9em;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: normal;
}

#yt-masthead #search-btn .yt-uix-button-content {
  margin: 0 25px;
}

#masthead-search .search-btn-component .yt-uix-button-content {
  background: url("../img/search.png") no-repeat scroll transparent;
}

#masthead-search .search-btn-component .yt-uix-button-content {
  background: url("../img/search.png") no-repeat scroll transparent;
  border: medium none;
  box-shadow: none;
  display: block;
  height: 14px;
  opacity: 0.6;
  padding: 0;
  text-indent: -10000px;
  width: 14px;
}

/* more button*/
#yt-masthead a.yt-uix-button {
  height: 27px;
  line-height: 27px;
}

body a.yt-uix-button {
  display: inline-block;
  height: 2.4em;
  line-height: 2.4em;
  text-decoration: none;
}

.yt-uix-button-default, .yt-uix-button-subscription, a.yt-uix-button-default .yt-uix-button-content {
  color: #333333;
}

.yt-uix-button-default, .yt-uix-button-subscription, .yt-uix-button-panel:hover .yt-uix-button-text, body .yt-uix-button-default[disabled] {
  background-color: #F8F8F8;
  background-image: linear-gradient(to bottom, #FCFCFC 0px, #F8F8F8 100%);
  border-color: #D3D3D3;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

/**Search Results*/
#search_results{
	text-align:center;
}	
	
.primary-col {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #FFFFFF;
  border-color: -moz-use-text-color #E2E2E2 #E2E2E2;
  border-image: none;
  border-radius: 0 0 3px 3px;
  border-right: 1px solid #E2E2E2;
  border-style: none solid solid;
  border-width: medium 1px 1px;
  display: inline-block;
  width: 640px;
  text-align:left;
}

#filter-dropdown {
  background-color: #F1F1F1;
  padding: 15px;
}

.filter-top .filter-button, .filter-top .filter-crumb-list, .filter-top .filter-crumb-spacer, .filter-top .num-results {
  display: table-cell;
}

.search-header .num-results {
  line-height: 25px;
  white-space: nowrap;
}

.search-header .num-results {
  float:right;
}

.search-header .num-results, .search-header .num-results strong, .search-header .yt-uix-button-content {
  color: #555555;
  font-size: 11px;
  font-weight: normal;
}

.yt-uix-button-arrow {
  margin-left: 5px;
}

.yt-uix-button-arrow {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: transparent;
  border-image: none;
  border-style: solid;
  border-width: 4px 4px 0;
  height: 0;
  margin-top: -3px;
  width: 0;
}

.filter-top {
  padding: 5px 15px;
}

.filter-col {
  display: inline-block;
  list-style: none outside none;
  max-width: 102px;
  padding-right: 20px;
  vertical-align: top;
}

.filter-col-title {
  color: #555555;
  font-size: 11px;
  font-weight: bold;
  margin: 0 0 10px;
}

menu, ol, ul {
  list-style: none outside none;
}

.filter {
  color: #555555;
  display: inline-block;
  font-size: 11px;
  margin-bottom: 8px;
  position: relative;
}

.result-list {
  position: relative;
}

.clearfix:after {
  clear: both;
}

.clearfix:before, .clearfix:after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

.clearfix:before, .clearfix:after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

.yt-uix-tile {
  cursor: pointer;
}

.yt-lockup2 {
  padding: 10px 15px;
}

.yt-lockup2 .yt-lockup2-thumbnail {
  float: left;
  margin-right: 10px;
  text-align: right;
  width: 185px;
}

a.ux-thumb-wrap {
  text-decoration: none;
}

.ux-thumb-wrap {
  display: inline-block;
  overflow: hidden;
  position: relative;
}

a {
  color: #438BC5;
  cursor: pointer;
  text-decoration: none;
}

.video-thumb {
  position: relative;
}

.yt-thumb-default-185 {
  height: 104px;
  width: 185px;
}

.ux-thumb {
  background: none repeat scroll 0 0 #F1F1F1;
  display: inline-block;
  overflow: hidden;
  vertical-align: bottom;
}

.yt-thumb-clip {
  bottom: -100px;
  left: -100px;
  position: absolute;
  right: -100px;
  text-align: center;
  top: -100px;
  white-space: nowrap;
  word-break: normal;
}

.yt-thumb-clip-inner {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.ux-thumb img {
  outline: medium none;
}

.ux-thumb .vertical-align {
  height: 100%;
}

.yt-thumb-clip img, .yt-thumb-clip .vertical-align {
  display: inline-block;
  vertical-align: middle;
}

.yt-lockup2-meta, .yt-lockup2-description, .yt-lockup2-badges {
  color: #222222;
  font-size: 12px;
  margin: 6px 0 0;
}

.yt-lockup2-title {
  font-size: 14px;
  margin-top: 5px;
}

.yt-lockup2-meta, .yt-lockup2-description, .yt-lockup2-badges {
  color: #222222;
  font-size: 12px;
  margin: 6px 0 0;
}

.yt-lockup2-description {
  color: #555555;
  line-height: 14px;
  word-wrap: break-word;
}

.video-time {
  background-color: #000000;
  border-radius: 3px 3px 3px 3px;
  color: #FFFFFF !important;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  height: 14px;
  line-height: 14px;
  opacity: 0.75;
  padding: 0 4px;
  vertical-align: top;
}

.video-time {
  margin-right: 0;
  margin-top: 0;
}

.video-time, .video-actions {
  bottom: 2px;
  position: absolute;
  right: 2px;
}

.yt-lockup2 .item-badge-label:last-child {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
}

.yt-lockup2 .item-badge-label:first-child {
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}

.item-badge-label:last-child {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
}

.item-badge-label:first-child {
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}

.yt-lockup2 .item-badge-label {
  background-color: #F1F1F1;
  border: 1px solid #F1F1F1;
  display: inline-block;
  line-height: 1.5em;
  padding: 0 4px;
}

.item-badge-label {
  background-color: #F1F1F1;
  border: 1px solid #F1F1F1;
  display: inline-block;
  line-height: 1.5em;
  padding: 0 4px;
}

.yt-lockup2:hover {
    background: none repeat scroll 0 0 #F6F6F6;
}
.yt-lockup2:hover a, .yt-lockup2:hover .yt-lockup2-meta a {
    color: #438BC5;
}
.yt-lockup2 a:visited {
    color: #003366;
}


#yt-masthead-user {
  color: #555555;
  float: right;
  margin-left: 50px;
  margin-top: 3px;
}

#yt-masthead-user-displayname {
  color: #666666;
  font-size: 11px;
  margin-right: 5px;
}

.yt-valign-trick, .yt-valign-container {
  display: inline-block;
  vertical-align: middle;
}

#yt-masthead #masthead-search-terms, #yt-masthead button.yt-uix-button {
  height: 29px;
}

#yt-masthead-user .yt-masthead-user-icon {
  cursor: pointer;
  padding: 0;
}

.yt-uix-button-default, .yt-uix-button-subscription, a.yt-uix-button-default .yt-uix-button-content {
  color: #333333;
}


#yt-masthead-user .yt-masthead-user-icon {
  cursor: pointer;
}

.yt-uix-button-default, .yt-uix-button-subscription, a.yt-uix-button-default .yt-uix-button-content {
  color: #333333;
}

.yt-uix-button-default, .yt-uix-button-subscription, .yt-uix-button-panel:hover .yt-uix-button-text, body .yt-uix-button-default[disabled] {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.yt-thumb-square-27 {
  height: 27px;
  width: 27px;
}

.ux-thumb {
  background: none repeat scroll 0 0 #F1F1F1;
  display: inline-block;
  overflow: hidden;
  vertical-align: bottom;
}

.yt-thumb-clip {
  bottom: -100px;
  left: -100px;
  position: absolute;
  right: -100px;
  text-align: center;
  top: -100px;
  white-space: nowrap;
  word-break: normal;
}

.yt-thumb-clip-inner {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.yt-uix-button-valign, .yt-uix-button img {
  vertical-align: middle;
}

.yt-thumb-clip img, .yt-thumb-clip .vertical-align {
  display: inline-block;
  vertical-align: middle;
}

.ux-thumb img {
  outline: medium none;
}

#yt-masthead-dropdown {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #999999 transparent transparent;
  border-image: none;
  border-right: 5px solid transparent;
  border-style: solid;
  border-width: 5px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  top: 3px;
}

body #masthead-expanded-container {
  background: none repeat scroll 0 0 #EDEDED;
  border-bottom: 1px solid #DBDBDB;
  box-shadow: none;
  margin-bottom: 0;
  min-width: 1003px;
}

#masthead-expanded-container {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.03);
  box-shadow: 0 5px 5px #DEDEDE inset;
  margin: 0 auto 10px;
  padding: 10px 8px;
  position: relative;
  width: 954px;
}

#masthead-expanded-menus-container, #masthead-expanded-menu-google-container, #masthead-expanded-menu-google-column1, #masthead-expanded .with-sandbar #masthead-expanded-menu, .with-sandbar #masthead-expanded-lists-container {
  width: auto !important;
}

#masthead-expanded-menus-container {
  margin-right: 30px;
}

#masthead-expanded-menus-container {
  float: right;
  margin-bottom: 10px;
  padding-left: 25px;
  width: 350px;
}

#masthead-expanded-sandbar {
  height: 90px;
}

.clear {
  clear: both;
}

body.exp-new-site-width #masthead-expanded, body #masthead-expanded-container {
  width: auto;
}

body #masthead-expanded-container {
  background: none repeat scroll 0 0 #EDEDED;
  border-bottom: 1px solid #DBDBDB;
  box-shadow: none;
  margin-bottom: 0;
  min-width: 1003px;
}

#masthead-expanded-container {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.03);
  box-shadow: 0 5px 5px #DEDEDE inset;
  margin: 0 auto 10px;
  padding: 10px 8px;
  position: relative;
  width: 954px;
}

#masthead-expanded-sandbar {
  height: 90px;
}

#masthead-expanded-sandbar #masthead-expanded-lists-container:after {
  display: none;
}
body #masthead-expanded-lists-container:after {
  display: none;
}

#masthead-expanded-lists-container:after {
  border-left: 1px solid #DDDDDD;
  content: " ";
  height: 100%;
  position: absolute;
  right: 1px;
  top: 0;
}

#masthead-expanded-menus-container, #masthead-expanded-menu-google-container, #masthead-expanded-menu-google-column1, #masthead-expanded .with-sandbar #masthead-expanded-menu, .with-sandbar #masthead-expanded-lists-container {
  width: auto !important;
}

.with-sandbar #masthead-expanded-lists-container {
  width: 580px;
}

.yt-uix-legacy-slider {
  overflow: hidden;
}

body #masthead-expanded .yt-uix-legacy-slider-prev, body #masthead-expanded .yt-uix-legacy-slider-next, body #masthead-expanded .yt-uix-legacy-slider-prev:active, body #masthead-expanded .yt-uix-legacy-slider-next:active {
  background: none repeat scroll 0 0 transparent;
  border: 0 none;
  box-shadow: none;
  filter: none;
  height: 90px;
}
.yt-uix-button-valign, .yt-uix-button img {
  vertical-align: middle;
}

.yt-uix-slider-prev-arrow {
  border-right-color: #999999;
  border-width: 10px 10px 10px 0;
}

.yt-uix-slider-next-arrow, .yt-uix-slider-prev-arrow {
  border: 1px solid transparent;
  height: 0;
  vertical-align: middle;
  width: 0;
}

body #masthead-expanded .yt-uix-legacy-slider-prev, body #masthead-expanded .yt-uix-legacy-slider-next, body #masthead-expanded .yt-uix-legacy-slider-prev:active, body #masthead-expanded .yt-uix-legacy-slider-next:active {
  background: none repeat scroll 0 0 transparent;
  border: 0 none;
  box-shadow: none;
  filter: none;
  height: 90px;
}

#masthead-expanded .yt-uix-legacy-slider-next {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

#masthead-expanded .yt-uix-legacy-slider-next {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

#masthead-expanded-lists-container .yt-uix-legacy-slider-next, #masthead-expanded-lists-container .yt-uix-legacy-slider-prev {
  height: 135px;
  margin-top: 0;
}

.yt-uix-legacy-slider-next {
  float: right;
}

.yt-uix-button-default, .yt-uix-button-subscription, a.yt-uix-button-default .yt-uix-button-content {
  color: #333333;
}

.yt-uix-button-valign, .yt-uix-button img {
  vertical-align: middle;
}

.yt-uix-slider-next-arrow {
  border-left-color: #999999;
  border-width: 10px 0 10px 10px;
}

.yt-uix-slider-next-arrow, .yt-uix-slider-prev-arrow {
  border: 1px solid transparent;
  height: 0;
  vertical-align: middle;
  width: 0;
}

body #masthead-expanded .yt-uix-legacy-slider-body:after, body #masthead-expanded .yt-uix-legacy-slider-body:before {
  display: none;
}

#masthead-expanded .yt-uix-legacy-slider-body:after {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.15) 0px, transparent 100%);
  left: 0;
}

#masthead-expanded .yt-uix-legacy-slider-body:after, #masthead-expanded .yt-uix-legacy-slider-body:before {
  content: " ";
  height: 100%;
  position: absolute;
  top: 0;
  width: 5px;
  z-index: 1000;
}

body #masthead-expanded .yt-uix-legacy-slider-body:after, body #masthead-expanded .yt-uix-legacy-slider-body:before {
  display: none;
}

#masthead-expanded .yt-uix-legacy-slider-body:before {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.15) 0px, transparent 100%);
  right: 0;
}

#masthead-expanded .yt-uix-legacy-slider-body:after, #masthead-expanded .yt-uix-legacy-slider-body:before {
  content: " ";
  height: 100%;
  position: absolute;
  top: 0;
  width: 5px;
  z-index: 1000;
}

#masthead-expanded .yt-uix-legacy-slider-body {
  position: relative;
}

.yt-uix-legacy-slider-fluid .yt-uix-legacy-slider-slide {
  float: none;
  left: 0;
  padding: 0 10px;
  position: relative;
  transition: left 0.3s ease-in-out 0s;
  white-space: nowrap;
  word-wrap: normal;
}

.yt-uix-legacy-slider-slide {
  float: left;
  padding: 0 10px;
}

#masthead-expanded .yt-uix-legacy-slider-shade-right, #masthead-expanded .yt-uix-legacy-slider-shade-left, #masthead-expanded-menu-shade {
  display: none;
}

.yt-uix-legacy-slider-shade-left, body.rtl .yt-uix-legacy-slider-shade-right {
  background-image: -moz-linear-gradient(left center , #FFFFFF, rgba(255, 255, 255, 0));
}

body #masthead-expanded .playlist-data-item-title {
  display: block;
  margin-left: 7px;
  max-width: 130px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

body #masthead-expanded .playlist-data-item-title {
  display: block;
  margin-left: 7px;
  max-width: 130px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

body #masthead-expanded .playlist-data-section, body #masthead-expanded .list-video-count, body #masthead-expanded .playlist-data-item-title {
  height: 27px;
  line-height: 27px;
}

body #masthead-expanded .list-video-count {
  color: #949494;
  display: block;
  float: right;
  font-size: 11px;
  font-weight: normal;
  margin: 0 5px;
  position: static;
}

#masthead-expanded .list-video-count {
  display: none;
}

body #masthead-expanded .playlist-bar-item, body #masthead-expanded .playlist-bar-item a {
  width: auto;
}

#masthead-expanded .playlist-bar-item a {
  display: block;
}

#masthead-expanded .playlist-bar-item a {
  background: none repeat scroll 0 0 transparent;
  padding: 0;
  width: 106px;
}

#masthead-expanded .playlist-bar-item a, #masthead-expanded .playlist-bar-item {
  opacity: 1;
}

.yt-tile-default, .yt-tile-default a, .yt-tile-visible, .yt-tile-visible a {
  color: #333333;
}

#masthead-expanded .playlist-bar-item .video-thumb {
  left: 0;
}

.video-thumb {
  position: relative;
}

.yt-thumb-default-160 {
  height: 90px;
  width: 160px;
}

.ux-thumb {
  background: none repeat scroll 0 0 #F1F1F1;
  display: inline-block;
  overflow: hidden;
  vertical-align: bottom;
}

.ux-thumb {
  background: none repeat scroll 0 0 #F1F1F1;
  display: inline-block;
  overflow: hidden;
  vertical-align: bottom;
}

body #masthead-expanded .playlist-bar-item, body #masthead-expanded .playlist-bar-item a {
  width: auto;
}

#playlist-bar-lists-content .yt-tile-visible {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  box-shadow: none;
  padding: 0;
}

#masthead-expanded .playlist-bar-item {
  margin-right: 5px;
  position: relative;
  vertical-align: top;
}

border: 0 none;
display: inline-block;
margin-bottom: 2px;
margin-top: 0;
width: 106px;

#masthead-expanded .playlist-bar-item a, #masthead-expanded .playlist-bar-item {
  opacity: 1;
}


.yt-tile-static, .yt-tile-visible, .yt-tile-default:hover {
  background: none repeat scroll 0 0 #FFFFFF;
  box-shadow: 0 1px 2px #CCCCCC;
}

#masthead-expanded .screen .play-all, #ie #masthead-expanded .playlist-bar-item a.playlist-thumb-section:hover .screen, #masthead-expanded .playlist-bar-item a.playlist-thumb-section:hover .screen {
  display: block;
}

#masthead-expanded .screen .play-all {
  line-height: 68px;
  text-align: center;
}

#masthead-expanded .play-all {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
  display: inline-block !important;
  font-size: 13px;
  font-weight: bold;
  line-height: 1.3em !important;
  padding: 6px 7px;
  vertical-align: middle;
}

body #masthead-expanded .play-arrow {
  background: url("img/playall.png") no-repeat scroll transparent;
  height: 8px;
  vertical-align: baseline;
  width: 7px;
}

#masthead-expanded .play-arrow {
  background: url("img/playall.png") no-repeat scroll transparent;
  height: 13px;
  margin-right: 5px;
  vertical-align: -2px;
  width: 10px;
}

#masthead-expanded .screen .play-all, #ie #masthead-expanded .playlist-bar-item a.playlist-thumb-section:hover .screen, #masthead-expanded .playlist-bar-item a.playlist-thumb-section:hover .screen {
  display: block;
}

#masthead-expanded .screen .play-all {
  line-height: 68px;
  text-align: center;
}

#masthead-expanded .play-all {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
  display: inline-block !important;
  font-size: 13px;
  font-weight: bold;
  line-height: 1.3em !important;
  padding: 6px 7px;
  vertical-align: middle;
}

#masthead-expanded .playlist-bar-item a {
  display: block;
}


#player-api {
  background: none repeat scroll 0 0 #000000;
  height: 390px;
  overflow: hidden;
  position: relative;
  width: 640px;
  z-index: 1;
}

#player object, #player embed {
  height: 100% !important;
  position: relative;
  width: 100% !important;
}

#watch7-headline, #watch7-notification-area, #watch7-user-header {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: none repeat scroll 0 0 #FFFFFF;
  border-color: rgba(0, 0, 0, 0.098);
  border-image: none;
  border-left: 1px solid rgba(0, 0, 0, 0.098);
  border-right: 1px solid rgba(0, 0, 0, 0.098);
  border-style: solid;
  border-width: 0 1px;
  padding: 15px 20px 9px;
  position: relative;
}

.yt-uix-legacy-slider-fluid .yt-uix-legacy-slider-slide {
  float: none;
  left: 0;
  padding: 0 10px;
  position: relative;
  transition: left 0.3s ease-in-out 0s;
  white-space: nowrap;
  word-wrap: normal;
}

.yt-uix-legacy-slider-slide {
  float: left;
  padding: 0 10px;
}

body #masthead-expanded .playlist-bar-item, body #masthead-expanded .playlist-bar-item a {
  width: auto;
}

#playlist-bar-lists-content .yt-tile-visible {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  box-shadow: none;
  padding: 0;
}

#masthead-expanded .playlist-bar-item {
  margin-right: 5px;
  position: relative;
  vertical-align: top;
}

#masthead-expanded .playlist-bar-item, #ie #masthead-expanded .playlist-bar-item {
  border: 0 none;
  display: inline-block;
  margin-bottom: 2px;
  margin-top: 0;
  width: 106px;
}


#masthead-expanded .playlist-bar-item a, #masthead-expanded .playlist-bar-item {
  opacity: 1;
}

.yt-tile-static, .yt-tile-visible, .yt-tile-default:hover {
  background: none repeat scroll 0 0 #FFFFFF;
  box-shadow: 0 1px 2px #CCCCCC;
}

#masthead-expanded .screen {
  color: #FFFFFF;
}

.yt-tile-default, .yt-tile-static, .yt-tile-visible {
  border-radius: 3px 3px 3px 3px;
  color: #666666;
  display: block;
  font-size: 11px;
  padding: 6px;
  transition: background-color 0.18s ease 0s;
}

#masthead-expanded .playlist-data-section {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.75) !important;
  width: 100% !important;
}

body #masthead-expanded .playlist-bar-item, body #masthead-expanded .playlist-bar-item a {
  width: auto;
}

body #masthead-expanded .playlist-data-section, body #masthead-expanded .list-video-count, body #masthead-expanded .playlist-data-item-title {
  height: 27px;
  line-height: 27px;
}

#masthead-expanded .playlist-bar-item a {
  display: block;
}

body #masthead-expanded .playlist-data-section {
  position: absolute;
  top: 0;
}

#masthead-expanded .playlist-bar-item a {
  background: none repeat scroll 0 0 transparent;
  padding: 0;
  width: 106px;
}

#masthead-expanded .playlist-bar-item a, #masthead-expanded .playlist-bar-item {
  opacity: 1;
}

#masthead-expanded .playlist-data-section, .playlist-data-item {
  color: #FFFFFF !important;
}

#masthead-expanded .screen .play-all, #ie #masthead-expanded .playlist-bar-item a.playlist-thumb-section:hover .screen, #masthead-expanded .playlist-bar-item a.playlist-thumb-section:hover .screen {
  display: block;
}

#masthead-expanded .screen .play-all {
  line-height: 68px;
  text-align: center;
}

#masthead-expanded .play-all {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
  display: inline-block !important;
  font-size: 13px;
  font-weight: bold;
  line-height: 1.3em !important;
  padding: 6px 7px;
  vertical-align: middle;
}

body #masthead-expanded .play-arrow {
  background: url("//s.ytimg.com/yts/imgbin/www-hitchhiker-vflnwbFUF.png") no-repeat scroll -239px -15px transparent;
  height: 8px;
  vertical-align: baseline;
  width: 7px;
}

#masthead-expanded .screen .play-all {
  line-height: 68px;
  text-align: center;
}

#masthead-expanded .play-all {
  font-size: 13px;
  font-weight: bold;
  line-height: 1.3em !important;
}





