  <li class="yt-lockup2 yt-lockup2-video yt-uix-tile context-data-item clearfix translation-item" id="channel" author="<%- author %>" channelId="<%- yt$channelId %>">
      <div style="float:left; padding:5px; cursor:pointer;" title="<%- title %>">
        <img src="<%- media$group %>" alt="<%- title %>"><br />
      </div>
      <div id="channel" style="float:left; padding:5px; cursor:pointer;" title="<%- title %>">
        <strong><%- title %></strong><br />
        by <%- author %></strong><br />
        <%- yt$channelStatistics %> views<br />
        <%- updated %> updated<br />
      </div>
  </li>