	<div id="body-container">
	    <div class="yt-grid-box" id="yt-masthead-container">
	        <div id="yt-masthead">    
	            <div id="logo-container">
	            <div id="logo"></div>
	            </div>
	            <div id="yt-masthead-signin">
					<!-- Signin -->
					<span id="signinButton">
						<span
							class="g-signin"
							data-callback="signinCallback"
							data-clientid="692622804177-49rh418ifmdlgavklfh9vflfh08tgum9.apps.googleusercontent.com"
							data-cookiepolicy="single_host_origin"
							data-requestvisibleactions="http://schemas.google.com/AddActivity"
							data-scope="http://gdata.youtube.com https://www.googleapis.com/auth/userinfo.profile"
							data-width="wide"
							data-height="standard">
						</span>
					</span>    					
	            </div>
	            <div id="yt-masthead-content">
	                <form action="#" class="search-form consolidated-form" id="masthead-search">
	                    <button role="button" type="submit" class="search-btn-component search-button yt-uix-button yt-uix-button-default" id="search-btn" style="margin-top: 3px;"><span class="yt-uix-button-content">Search </span></button>
	                    <div class="masthead-search-terms-border " id="masthead-search-terms" style="top: 3px;">
	                        <label>
	                            <input type="text" title="Buscar" tabindex="1" value="<%= masthead-search-term %>" name="search_query" class="search-term yt-uix-form-input-bidi" id="masthead-search-term" style="outline: medium none;">
	                        </label>
	                    </div>
	                 </form>
	             </div>
	         </div>
	    </div>
	</div>
