        <div class="" id="yt-account-more" style="background-color:#eee; border-bottom-color:#ccc;">
          <div style="float:left; width:48%; height:150px; border:0px solid blue;"><strong>Channels</strong><br />
            <div style="float:left; width:24%;">
                <a href="#"><span id="yt-more-popular"><img src='https://i1.ytimg.com/li/tnHdj3df7iM/default.jpg' width='40' height='40' style="margin:3px;">Popular</span></a><br />
                <a href="#"><span id="yt-more-music"><img src='https://i1.ytimg.com/li/p-Rdqh3z4Uc/default.jpg' width='40' height='40' style="margin:3px;">Music</span></a><br />
            </div>
            <div style="float:left; width:24%;">
                <a href="#"><span id="yt-more-movies"><img src='https://lh3.googleusercontent.com/-DIjHsEMMaRE/AAAAAAAAAAI/AAAAAAAAAAA/q6whn_JcUH8/s88-c-k/photo.jpg' width='40' height='40' style="margin:3px;">Movies</span></a><br />
                <a href="#"><span id="yt-more-news"><img src='https://i1.ytimg.com/li/PvDBPPFfuaM/default.jpg' width='40' height='40' style="margin:3px;">News</span></a><br />
            </div>
            <div style="float:left; width:24%;">
                <a href="#"><span id="yt-more-sport"><img src='https://i4.ytimg.com/li/7Dr1BKwqctY/default.jpg' width='40' height='40' style="margin:3px;">Sport</span></a><br />
                <a href="#"><span id="yt-more-gaming"><img src='https://i1.ytimg.com/li/hfZhJdhTqX8/default.jpg' width='40' height='40' style="margin:3px;">Gaming</span></a><br />
            </div>
            </div>
            <div  id="yt-more-recommendations" style="float:left; width:48%; height:150px; border:0px solid red; text-align:right;"><strong>Recommended for You</strong><br />
              <a href="#"><span id="yt-more-recommendations-musicians">Musicians</span></a><br />
              <a href="#"><span id="yt-more-recommendations-comedians">Comedians</span></a><br />
              <a href="#"><span id="yt-more-recommendations-directors">Directors</span></a><br />
              <a href="#"><span id="yt-more-recommendations-gurus">Gurus</span></a><br />
              <a href="#"><span id="yt-more-recommendations-partners">Partners</span></a><br />
              <a href="#"><span id="yt-more-recommendations-sponsors">Sponsors</span></a><br />
              <a href="#"><span id="yt-more-recommendations-reporters">Reporters</span></a><br />
            </div>
        </div>
